* {
  scroll-behavior: smooth;
}

::selection {
  background-color: $color_secondary;
  color: $color_primary;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #111827;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #111827;
}

::-webkit-scrollbar-thumb {
  background-color: #F0E6D2;
}

body {
  font-family: 'Beaufort for LOL', Arial, Helvetica, sans-serif;
  background-color: $color_primary;
  cursor: url(./assets/cursor.png), auto;
  color: $color1;
}

p,
span {
  font-family: 'Spiegel', Arial, Helvetica, sans-serif;
}